root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
args_bin = []
md = "go build -o './tmp/main' ."
bin = "./tmp/main"

  delay = 1000
  exclude_dir = ["assets", "tmp", "vendor", "testdata"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  include_dir = []
  include_ext = ["go", "tpl", "tmpl", "html"]
